@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Instrument+Serif:ital@0;1&family=News+Cycle:wght@400;700&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

:root {
    --font-dm: 'DM Serif Display', serif;
    --font-instrument: 'Instrument Serif', serif;
    --font-news: 'News Cycle', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

html {
    font-family: var(--font-roboto);
}

h1, h2, h3, h4 {
    font-family: var(--font-dm);
}

 h5, h6{
    font-family: var(--font-instrument);
}

a, button, small {
    font-family: var(--font-news);
}

p {
    font-family: var(--font-roboto);
}
footer {

    background-color: rgb(130, 138, 138);
    color: #fcfaf9;
    padding: 30px 30px;
    margin-top: 20px;
    text-align: center;
    
  
  }
  
.icon {
    width: 24px; 
    height: 24px; 
}
